/* ОБНУЛЕНИЕ */
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside {display: block;}
html,body {height: 100%;margin: 0;padding: 0;min-width: 100px;position: relative; width: 100%;font-weight: 400; color:#000;font-family: 'Roboto', sans-serif;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;padding: 0;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: inherit;}
/* ТЕХНИЧЕСКИЕ КЛАССЫ */
.wrapper{
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.main{
	flex: 1 1 auto;
}
._container{
	max-width: 1125px;
	padding: 0 5px;
	margin: 0 auto;
}
._ibj{
	position:relative;
}
._ibj img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	object-fit: cover;
}
.btn{
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #D23166;
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(22 / 16 * 100%);
	color: #FAFAFA;
	min-height: 50px;
	padding: 0 48px;
	border-radius: 5px;
	border: 2px solid transparent;
	transition: all 0.4s ease 0s;
	max-width: 165px;
}
.btn:hover,
.btn:active{
	border: 2px solid #150101;
	background: #FAFAFA;
	color: #D23166;
}
/* HEADER */
.header {
	width: 100%;
	height: 100px; 
	top: 10px;
	left: 0;
	position: absolute;
	z-index: 50;
}
.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	flex: 0 1 79px;
	border: 2px solid transparent;
	transition: all 0.4s ease 0s;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
.header__logo:hover,
.header__logo:active{
	border: 2px solid #150101;
}
.menu-header__button{
	display: none;
}
.menu-header__list {
	display: flex;
	flex-wrap: wrap;
}
.menu-header__list li:not(:last-child){
	margin: 0 40px 0 0;
}
.menu-header__link {
	font-size: 14px;
	line-height: calc(16 / 14 * 100%);
	color: #150101;
	opacity: 0.6;
	transition: all 0.2s ease 0s;
}
.menu-header__link:hover,
.menu-header__link:active{
	color:#D23166;
}
.header__responsive{
	display: none;
}
@media (max-width: 1023.98px){
	.menu-header__link{
		font-size: 18px;
		transition: none;
	}
	.menu-header__link:active{
		text-decoration: underline;
	}
	.menu-header__list li:not(:last-child){
		margin: 0 20px 0 0;
	}
	.header__button{
		transition: none;
	}
	.header__logo{
		transition: none;
	}
}
@media (max-width: 767.98px){
	body.lock{
		overflow: hidden;
	}
	.header__responsive{
		display: block;
		position: absolute;
		width: 40px;
		height: 30px;
		cursor: pointer;
		z-index: 10;
		transition: all 0.3s ease 0s;
		right: 15px;
	}
	.header__responsive span{
		transition: all 0.3s ease 0s;
	}
	.header__responsive span:first-child{
		width: 100%;
		height: 3px;
		top: 0;
		left: 0;
		position: absolute;
		background: #D23166;
	}
	.header__responsive span:last-child{
		width: 100%;
		height: 3px;
		bottom: 0;
		left: 0;
		position: absolute;
		background: #D23166;
	}
	.header__responsive span:nth-child(2){
		width: 100%;
		height: 3px;
		top: 14px;
		left: 0;
		position: absolute;
		background: #D23166;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		overflow: auto;
		transition: all 0.2s ease 0s;
		width: 0;
		right: 0;
	}
	.header__menu.active {
			transition: all 0.5s ease 0s;
			display: block;
			top: 0;
			right: 0;
			width: 100%;
			height: 100vh;
			background-color: #fafafafb;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 100px 0px 0px 0px;
			z-index: 2;
	}
	.header__container{
		background: #0A0808;
	}
	.header__button{
		display: none;
	}
	.header__responsive.active span:nth-child(2){
		width: 0;
	}
	.header__responsive.active span:last-child{
		transform: rotate(-45deg);
		bottom: 13px;
	}
	.header__responsive.active span:first-child{
		transform: rotate(45deg);
		top: 13px;
	}
	.header__logo{
		border: none;
	}
	.header__logo:hover,
	.header__logo:active{
		border: none;
	}
	.menu-header__button{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:center;
		background: #D23166;
		font-family: 'Hind Madurai', sans-serif;
		font-weight: 700;
		font-size: 22px;
		line-height: calc(22 / 22 * 100%);
		color: #FAFAFA;
		min-height: 50px;
		padding: 0 48px;
		transition: none;
		text-transform: uppercase;
		margin: 15px 0 0 0;
	}
	.menu-header__button:active{
		background: #FAFAFA;
		color: #D23166;
	}
	.menu-header__list{
		flex-direction: column;
	}
	.menu-header__list>li:not(:last-child){
		padding: 20px 5px;
		text-align: center;
		margin: 0;
		position: relative;
	}
	.menu-header__list>li:not(:last-child):active{
		background: #D23166;
	}
	.menu-header__list>li:not(:last-child)>.menu-header__link:active{
		color: #FAFAFA;
	}
	.header{
		top: 0;
	}
	.menu-header__link{
		font-size: 22.5px;
		line-height: calc(16 / 22.5 * 100%);
		text-transform: uppercase;
	}
}
/* MAIN */
.mainblock {
	display: flex;
	flex-direction: column;
}
.mainblock__ice {
	background: #F2CEDA;
}
.ice-mainblock__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ice-mainblock__content {
	/* display: flex;
	flex-direction: column;
	padding: 285px 0 213px 0;	 */
	flex: 0 1 60%;
}
.content-ice-mainblock {
	display: flex;
	flex-direction: column;
	padding: 285px 0 213px 0;
}
.content-ice-mainblock__label {
	font-size: 14px;
	line-height: calc(16 / 14 * 100%);
	letter-spacing: 0.1em;
	color: #0F0101;
	margin: 0 0 6px 0;
}
.content-ice-mainblock__title {
	font-family: 'Fredoka One', cursive;
	font-size: 57.33px;
	line-height: calc(69 / 57.33 * 100%);
	color: #0F0101;
	opacity: 0.9;
	margin: 0 0 35px 0;
}
.content-ice-mainblock__title  span{
	color: #D23166;
}
.content-ice-mainblock__text {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 18px;
	line-height:calc( 27 / 18 * 100%);
	color: #0F0101;
	opacity: 0.6;
	margin: 0 0 50px 0;
}
.ice-mainblock__images {
	flex: 0 1 40%;
	padding: 0 0 50% 0;
	position: relative;
	right: -70px;
	bottom: 30px;
}
.images-ice-mainblock {
	position: relative;
}
.images-ice-mainblock__image {
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	margin: 0 0 0 -50%;
	position: absolute;
	z-index: 3;
}
.images-ice-mainblock__milk {
	width: 100%;
	height: 100%;
	bottom: -127px;
	left: -24px;
	position: absolute;
	z-index: 4;
}
.images-ice-mainblock__decor {
	width: 365px;
	height: 365px;
	bottom: -30px;
	left: 50%;
	margin: 0 0 0 -182.5px; 
	position: absolute;	
	background: #D23166;
	border-radius: 50%;
	opacity: 0.1;
	z-index: 2;
}
.images-ice-mainblock__altdecor{
	width: 173px;
	height: 15px;
	bottom: -90px;
	left: 50%;
	margin: 0 0 0 -86.5px;
	position: absolute;
	background: #D23166;
	filter: blur(32px);
	z-index: 5;
}
@media (max-width: 1209.98px){
	.ice-mainblock__images {
		right: -10px;
		bottom: 30px;
	}
	.ice-mainblock__content{
		padding: 170px 0 213px 0;
	}
}
@media (max-width: 999.98px){
	.ice-mainblock__images {
		right: 20px;
		bottom: 60px;
	}
	.ice-mainblock__content{
		padding: 170px 0 120px 0;
	}
}
@media (max-width: 839.98px){
	.ice-mainblock__images {
		right: 20px;
		bottom: 120px;
	}
}
@media (max-width: 767.98px){
	.ice-mainblock__images{
		display: none;
	}
	.ice-mainblock__content{
		padding: 95px 0 30px 0;
		flex: 0 1 100%;
	}
	.content-ice-mainblock__title {
		font-size: 45px;
		line-height: calc(62 / 45 * 100%);
		margin: 0 0 20px 0;
	}
	.content-ice-mainblock__label{
		display: none;
	}
	.content-ice-mainblock__text{
		margin: 0 0 40px 0;
		font-size: 22px;
		line-height:calc( 30 / 22 * 100%);
	}
	.content-ice-mainblock__text br{
		display: none;
	}
	.content-ice-mainblock__button{
		max-width: 100%;
		transition: none;
		font-size: 20px;
		line-height: calc(22 / 20 * 100%);
		text-transform: uppercase;
	}
}
@media (max-width: 425.98px){
	.content-ice-mainblock__text{
		display: none;
	}
	.content-ice-mainblock__title {
		font-size: 38px;
		line-height: calc(50 / 38 * 100%);
		margin: 0 0 20px 0;
	}
}
/* QUALITIES */
.qualities-mainblock {
	background: #E5E5E5;
	padding: 60px 0 100px 0;
}
.qualities-mainblock__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	justify-content: center;
	align-items: flex-start;
}
.qualities-mainblock__item {
	flex: 0 1 25%;
	padding: 0 20px;
	margin: 40px 0 0 0;
}
.item-qualities-mainblock__column {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.03);
	border-radius: 7px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-width: 240px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.item-qualities-mainblock__column:hover,
.item-qualities-mainblock__column:active{
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
	background: #c5c5c53e;
}
@media (max-width: 767.98px){
	.item-qualities-mainblock__column:hover,
	.item-qualities-mainblock__column:active{
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
	transition: none;
	background: #c5c5c53e;
}
}
.item-qualities-mainblock__column > *:not(:last-child){
	margin: 0 0 10px 0;
}
.item-qualities-mainblock__icon {
	flex: 0 0 51px;
}
.item-qualities-mainblock__title {
	font-size: 20px;
	line-height: calc(28 / 20 * 100%);
	color: #000000;
	font-family: 'Hind Madurai', sans-serif;
	text-align: center;
}
.item-qualities-mainblock__text {
	font-size: 14px;
	line-height: calc(19 / 14 * 100%);
	text-align: center;
	color: #000000;
	opacity: 0.6;
	font-family: 'Hind Madurai', sans-serif;
	flex: 1 1 100%;
}
@media (max-width: 1149.98px){
	.qualities-mainblock__item{
		flex: 0 1 33.333%;
	}
	.qualities-mainblock{
		padding: 20px 0 60px 0; 
	}

}
@media (max-width: 1023.98px){
	.qualities-mainblock{
		padding: 20px 0 40px 0; 
	}
	.qualities-mainblock__item{
		margin: 20px 0 0 0 ; 
	}
	.qualities-mainblock__body{
		margin: 0 -10px;
	}
	.qualities-mainblock__item{
		padding: 0 10px;
	}
	.qualities-mainblock__item{
		flex: 0 1 50%;
	}
	.item-qualities-mainblock__title{
		font-size: 22px;
		line-height: calc(28 / 22 * 100%);
	}
	.item-qualities-mainblock__text{
		font-size: 18px;
		line-height: calc(19/ 18 * 100%);
	}
}
@media (max-width: 767.98px){
	.qualities-mainblock__item{
		flex: 0 1 100%;
	}
	.item-qualities-mainblock__column{
		width: 100%;
	}
	.qualities-mainblock{
		padding: 0px 0 20px 0; 
	}
	.qualities-mainblock__item{
		margin: 20px 0 0 0 ; 
	}
	.item-qualities-mainblock__column{
		justify-content: flex-start;
		align-items: flex-start;
		padding: 20px;
	}
	.item-qualities-mainblock__title{
		font-size: 25px;
		line-height: calc(28 / 25 * 100%);
		text-align: left;
	}
	.item-qualities-mainblock__text{
		font-size: 18px;
		line-height: calc(19/ 18 * 100%);
		text-align: left;
	}
}
/* NEW */

.mainblock__new {
}
.new-mainblock {
	background: #F8EDF0;
}
.new-mainblock__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.new-mainblock__content {
	padding: 145px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex: 0 1 45%;
}
.content-new-mainblock > *:not(:last-child){
	margin: 0 0 35px 0;
}
.content-new-mainblock__title {
	font-weight: 600;
	font-size: 44.2px;
	line-height: calc(49 / 44.2 * 100%);
	color: #150101;
	font-family: 'Hind Madurai', sans-serif;
}
.content-new-mainblock__text {
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	color: #150101;
	opacity: 0.6;
}
.content-new-mainblock__button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FAFAFA;
	padding: 0 40px;
}
.new-mainblock__images {
	flex: 0 1 55%;
	padding: 0 0 60% 0;
	position: relative;
	margin: 0 0 0 74px;
	top: -25px;
	left: 5px;
}
.images-new-mainblock {
	position: relative;
}
.images-new-mainblock__ice-cream {
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	margin: 0 0 0 -50%;
	position: absolute;
	z-index: 3;
}
.images-new-mainblock__shadow {
	width: 283px;
	height: 27.07px;
	bottom: 110px;
	left: 50%;
	margin: 0 0 0 -167.5px;
	position: absolute;
	z-index: 3;
}

@media (max-width: 1023.98px){
	.new-mainblock__content{
		padding: 80px 0;
	}
	.content-new-mainblock > *:not(:last-child){
		margin: 0 0 30px 0;
	}
	.new-mainblock__images{
		top: -35px;
		left: -50px;
	}
}

@media (max-width: 909.98px){
	.new-mainblock__images{
		padding: 0 0 55% 0;
	}
}

@media (max-width: 767.98px){
	.new-mainblock__images{
		display: none;
	}
	.new-mainblock__content{
		flex: 0 1 100%;
		padding: 30px 0;
	}
	.content-new-mainblock__title br{
		display: none ;
	}
	.content-new-mainblock__button{
		min-width: 100%;
		text-transform: uppercase;
		transition: none;
		font-size: 20px;
		line-height: calc(22 / 20 * 100%);
		text-transform: uppercase;
		font-weight: 600;
	}
	.content-new-mainblock__text{
		font-size: 20px;
		line-height: calc(30 / 20 * 100%);
	}
	.content-new-mainblock > *:not(:last-child){
		margin: 0 0 25px 0;
	}
}

@media (max-width: 424.98px){
	.content-new-mainblock__text{
		display: none;
	}
}
/* PRODUCT */
.mainblock__product {
}
.product-mainblock {
	background: #fff;
	padding: 140px 0 150px 0;
}
.product-mainblock__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.product-mainblock__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 44.2px;
	line-height: calc(61 / 44.2 * 100%);
	color: #150101;
	margin: 0 0 64px 0;
}
.product-mainblock__filter {

}
.filter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filter__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.filter__item {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: calc(21 / 18 * 100%);
	color: #000000;
	opacity: 0.6;
	cursor: pointer; 
	margin: 0 0 15px 0; 
}
.filter__item:not(:last-child){
	margin: 0 39px 15px 0;
}
.filter__item.active{
	opacity: 1;
	position: relative;
	font-weight: 700;
}
.filter__item.active:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 85%;
	height: 3px;
	background: #D64374;
	transform: translate(-50%, 0px);
}
.product-mainblock__items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-mainblock__item {
	flex: 0 1 100%;
	margin: 35px 0 0 0; 
}
.product-mainblock__item.item:nth-child(even){
	flex-direction: row-reverse;
}
.item:nth-child(even)>.item__image{
	margin: 0 0 0 155px;
	position: relative;
	left: -60px;
}
.item:nth-child(even)>.item__column{
	align-items: flex-end;
}
.item:nth-child(even)>.item__column>.item__text{
	text-align: right;
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item__image {
	flex: 0 1 50%;
	padding: 0 0 31% 0;
	margin: 0 155px 0 0;
	position: relative;
	right: -60px;
} 
.item__column {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.item__title {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(36 / 26 * 100%);
	color: #000000;
	font-family: 'Hind Madurai', sans-serif;
	text-align: left;
	margin: 0 0 11px 0;
}
.item__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	color: #000000;
	margin: 0 0 28px 0;
}
.item__price {
	margin: 0 0 16px 0;
}
.price {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.price > *:not(:last-child){
	margin: 0 5px 0 0;
}
.price__main {
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: calc(36 / 26 * 100%);
	color: #000000;
	font-family: 'Hind Madurai', sans-serif;
}
.price__old {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(28 / 20 * 100%);
	text-decoration-line: line-through;
	font-family: 'Hind Madurai', sans-serif;
	color: #000000;
	opacity: 0.7;
}
@media (max-width: 1023.98px){
	.product-mainblock {
		padding: 70px 0;
	}
	.price__main {
		font-size: 22px;
		line-height: calc(36 / 22 * 100%);
	}
	.price__old {
		font-size: 18px;
		line-height: calc(28 / 18 * 100%);
	}
	.item__title {
		font-size: 26px;
		line-height: calc(36 / 26 * 100%);
		margin: 0 0 8px 0;
	}
	.item__text {
		font-size: 16px;
		line-height: calc(24 / 16 * 100%);
		margin: 0 0 20px 0;
	}
	.item__price {
		margin: 0 0 12px 0;
	}
	.product-mainblock__title{
		margin: 0 0 32px 0;
	}
}

@media (max-width: 767.98px){
	.product-mainblock {
		padding: 30px 0;
	}
	.item__image{
		display: none;
	}
	.item__column {
		flex: 0 1 100%;
	}
	.item__button{
		min-width: 100%;
	}
	/* .filter__item {
		min-width: 100%;
	}
	.filter__item.active{
		opacity: 1;
		position: relative;
		font-weight: 900;
	}
	.filter__item.active:after{
		content: "";
		position: absolute;
		left: 50%;
		bottom: -5px;
		width: 85%;
		height: 3px;
		background: #D64374;
		transform: translate(-50%, 0px);
	} */
}


@media (max-width: 1149.98px){
	
}

.product-mainblock__footer {
	margin: 112px 0 0 0;
}
.footer-product-mainblock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-product-mainblock__slider {
	flex: 0 1 40%;
}
.footer-product-mainblock__image {
	padding: 0 0 38% 0;
	flex: 0 1 60%;
	position: relative;
	margin: 0 0 0 224px;
}




/* =App====== */

.product-mainblock__app {

}
.app-product-mainblock {
	background: #F8EDF0;
}
.app-product-mainblock__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.app-product-mainblock__images {
	flex: 0 1 30%;
	margin: 0 135px 0 0;
	
}
.images-app-product-mainblock {
	position: relative;
	padding: 0 0 54% 0;
	bottom: -60px;
	
}
.images-app-product-mainblock__image {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 3;
}
.images-app-product-mainblock__image img{
	filter: saturate(80%);
}
.app-product-mainblock__column {
	flex: 0 1 70%;
	margin: 90px 0 100px 0 ;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.column>*:not(:last-child){
	margin: 0 0 30px 0;
}
.column__title {
	font-weight: 500;
	font-size: 44.2px;
	line-height: calc(52 / 44.2 * 100%);
	color: #000000;
}
.column__text {
	font-weight: 400;
	font-size: 18px;
	line-height: calc(21 / 18 * 100%);
	letter-spacing: 0.01em;
	color: #0F0101;
	opacity: 0.7;
}
.column__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.column__list > *:not(:last-child){
	margin: 0 0 17px 0;
}
.element {
	display: flex;
	align-items: center;
}
.element__icon {
	margin: 0 10px 0 0;
	background: #fff;
	flex: 0 1 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	height: 30px;
	width: 30px;
	border-radius: 5px;
}

.element__text {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: calc(26  / 22 * 100%);
	color: #000000;
}
.column__buttons {
	display: flex;
	align-items: center;
	position: relative;
	left: -10px;
	flex-wrap: wrap;
}

.column__button {
	flex: 0 1 200px;
}
.column__button.min{
	display: none;
}

@media (max-width: 1023.98px){
	.app-product-mainblock__images{
		margin: 0 60px 0 0;
	}
	.column>*:not(:last-child){
		margin: 0 0 20px 0;
	}
	.column__title {
		font-weight: 500;
		font-size: 40px;
		line-height: calc(48 / 40 * 100%);
		color: #000000;
	}
	.column__text {
		font-weight: 400;
		font-size: 18px;
		line-height: calc(20 / 18 * 100%);
		letter-spacing: 0.01em;
		color: #0F0101;
		opacity: 0.7;
	}
	.column__list > *:not(:last-child){
		margin: 0 0 12px 0;
	}
	
	.element__text {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(24 / 18 * 100%);
		color: #000000;
	}
}

@media (max-width: 904.98px){
	.app-product-mainblock__images{
		margin: 0 40px 0 0;
	}
	.column>*:not(:last-child){
		margin: 0 0 16px 0;
	}
	.column__title {
		font-weight: 500;
		font-size: 35px;
		line-height: calc(46 / 35 * 100%);
		color: #000000;
	}
	.column__text {
		font-weight: 400;
		font-size: 15px;
		line-height: calc(20 / 15 * 100%);
		letter-spacing: 0.01em;
		color: #0F0101;
		opacity: 0.7;
	}
	.column__list > *:not(:last-child){
		margin: 0 0 10px 0;
	}
	
	.element__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: calc(22 / 16 * 100%);
		color: #000000;
	}
}

@media (max-width: 767.98px){
	.app-product-mainblock__images{
		display: none;
	}
	.app-product-mainblock__column{
		flex: 0 1 100%;
		margin: 30px 0 ;
	}
	.column>*:not(:last-child){
		margin: 0 0 24px 0;
	}
	.column__title {
		font-weight: bold;
		font-size: 40px;
		line-height: calc(46 / 40 * 100%);
		color: #000000;
	}
	.column__text {
		font-weight: 400;
		font-size: 20px;
		line-height: calc(30 / 20 * 100%);
		letter-spacing: 0.01em;
		color: #0F0101;
		opacity: 0.7;
	}
	.column__text>br{
		display: none;
	}
	.column__list > *:not(:last-child){
		margin: 0 0 10px 0;
	}
	
	.element__text {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: calc(22 / 20 * 100%);
		color: #000000;
	}
}

@media (max-width: 639.98px){
	.app-product-mainblock__column{
		flex: 0 1 100%;
		margin: 20px 0 ;
	}
	.column>*:not(:last-child){
		margin: 0 0 22px 0;
	}
	.column__title {
		font-weight: bold;
		font-size: 34px;
		line-height: calc(38 / 34 * 100%);
		color: #000000;
	}
	.column__text {
		font-weight: 400;
		font-size: 20px;
		line-height: calc(38 / 20 * 100%);
		letter-spacing: 0.01em;
		color: #0F0101;
		opacity: 0.7;
	}
	.column__list > *:not(:last-child){
		margin: 0 0 12px 0;
	}
	
	.element__text {
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: calc(22 / 25 * 100%);
		color: #000000;
	}
	.element__icon {
		margin: 0 12px 0 0;
		background: #fff;
		flex: 0 1 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2px;
		height: 40px;
		width: 40px;
		border-radius: 5px;
	}
}

@media (max-width: 424.98px){
	.app-product-mainblock__column{
		flex: 0 1 100%;
		margin: 18px 0 ;
	}
	.column>*:not(:last-child){
		margin: 0 0 16px 0;
	}
	.column__text {
		display: none;
	}
	.column__list > *:not(:last-child){
		margin: 0 0 12px 0;
	}
	
	.element__text {
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: calc(22 / 25 * 100%);
		color: #000000;
	}
	.element__icon {
		margin: 0 12px 0 0;
		background: #fff;
		flex: 0 1 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2px;
		height: 40px;
		width: 40px;
		border-radius: 5px;
	}
	.column__buttons {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		justify-content: space-between;
		left: 0;
		top: 0;
	}
	
	.column__button {
		display: none;
	}
	.column__button.min{
		display: block;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #D23166;
		font-family: 'Hind Madurai', sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: calc(22 / 16 * 100%);
		color: #FAFAFA;
		padding: 0 48px;
		min-height: 50px;
		border-radius: 5px;
		border: 2px solid transparent;
		transition: all 0.4s ease 0s;
		min-width: 100%;
		flex: 0 1 100%;
	}
	.column__button.min:not(:last-child){
		margin: 0 0 15px 0;
	}
	.column__button.min:hover,
	.column__button.min:active{
		border: 2px solid #150101;
		background: #FAFAFA;
		color: #D23166;
	}
}

/*=Question=======================*/

.mainblock__quest {

}
.quest-mainblock {
	background: #FFFFFF;
	padding: 190px 0 150px 0;
}
.quest-mainblock__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quest-mainblock__container > *:not(:last-child){
	margin: 0 0 13px 0;
}
.quest-mainblock__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.quest-mainblock__title-main {
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: calc(52 / 44 * 100%);
	text-align: center;
	color: #000000;
}
.quest-mainblock__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: calc(52 / 44 * 100%);
	text-align: center;
	color: #000000;
}
.quest-mainblock__form {

}
.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.form__input {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 74px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(16 / 14 * 100%);
	color: #0F0000;
	opacity: 0.6;
	transition: all 0.4s ease 0s;
	min-width: 503px;
	background: #e7e7e7;
	cursor: pointer;
	margin: 15px 0 0 0;
}

.form__input:active,
.form__input:hover,
.form__input:focus{
	background: #b4b4b4;
	cursor: auto;
}
.form__btn {
	margin: 15px 0 0 0;
	background: #D64374;
	border-radius: 5px;
	padding: 28px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 74px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(23 / 20 * 100%);
	color: #FFFFFF;
	transition: all 0.4s ease 0s;
	min-width: 134px;
}

.form__btn:hover,
.form__btn:active{
	color: #D64374;
	background: #8f8f8f;
}


@media (max-width: 767px){
	.quest-mainblock {
		background: #FFFFFF;
		padding: 50px 0;
	}
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
	}
	.form__input {
		font-size: 22px;
		line-height: calc(16 / 22 * 100%);
		min-width: 100%;
	}
	.form__btn {
		min-height: 74px;
		padding: 0 48px;
		font-weight: bold;
		font-size: 20px;
		line-height: calc(23 / 20 * 100%);
		text-transform: uppercase;
		min-width: 100%;
	}
}

@media (max-width: 569.98px){
	.quest-mainblock {
		background: #FFFFFF;
		padding: 30px 0;
	}
	.form__input {
		font-size: 22px;
		line-height: calc(16 / 22 * 100%);
		min-width: 100%;
	}
	.form__btn {
		min-height: 74px;
		padding: 0 48px;
		font-weight: bold;
		font-size: 20px;
		line-height: calc(23 / 20 * 100%);
		text-transform: uppercase;
		min-width: 100%;
	}
	.quest-mainblock__title-main {
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: calc(50 / 38 * 100%);
		text-align: left;
		color: #000000;
	}
	.quest-mainblock__subtitle {
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: calc(50 / 38 * 100%);
		text-align: left;
		color: #000000;
	}
	.quest-mainblock__title{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		min-width: 100%;
	}
}

@media (max-width: 423.98px){
	.quest-mainblock__title-main {
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: calc(50 / 32 * 100%);

		color: #000000;
	}
	.quest-mainblock__subtitle {
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: calc(50 / 32 * 100%);

		color: #000000;
}}

/* =Footer====================== */
.footer {
	padding: 45px 0 105px 0;
	background: #0A0808;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer__container>*{
	margin: 25px 0 0 0;
}
.footer__main {
	flex: 0 1 calc(207 / 1125 * 100%);
}
.first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
/* .first>*:not(:last-child){
	margin:  0 0 10px 0;
} */
.first__logo {
	flex: 0 1 79px;
	height: 79px;
	width: 79px;
	margin:  0 0 10px 0;
}
.first__logo img{
	width: 100%; 
}
.first__text {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: calc(17 / 12 * 100%);
	letter-spacing: 0.01em;
	color: #FFFFFF;
	opacity: 0.7;
	margin: 0 0 25px 0 ; 
}
.first__icons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.first__icons>*:not(:last-child){
	margin: 0 10px 0 0;
}
.first__icon {
	flex: 0 1 15px;
	height: 15px;
	width: 15px;
}
.first__icon img{
	width: 100%;
}
.first__title{
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12 * 100%);
	color: #FFFFFF;
	margin:  0 0 10px 0;
}
.footer__head {
	flex: 0 1 calc(72 / 1125 *100%);
}
.head {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.head>*:not(:last-child){
	margin: 0 0 15px 0; 
}
.head__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.head__list>*:not(:last-child){
	margin: 0 0 10px 0;
}
.head__item {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	opacity: 0.7;
}
.head__item.active{
	opacity: 1;
}
.footer__inf {
	flex: 0 1 calc(110/1125*100%);
}
.inf {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.inf__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.inf__list>*:not(:last-child){
	margin: 0 0 10px 0;
}
.inf__item {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: calc(14 / 12 * 100%);
	color: #FFFFFF;
	opacity: 0.8;
}
.footer__sub {
	flex: 0 1 calc(388/1125*100%);
}
.sub {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.sub>*:not(:last-child){
	margin: 0 0 15px 0;
}
.sub__title {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16 * 100%);
	color: #FFFFFF;
}
.sub__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}
.sub__input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	padding: 20px 32px;
	background: transparent;
	height: 55px;
	min-width: 262px;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(16 / 14 * 100%);
	color: #FFFFFF;
	opacity: 0.6;
	transition: all 0.4s ease 0s;
	border-left: 2px solid #D64374;
	border-bottom: 2px solid #D64374;
	border-top: 2px solid #D64374;
}

.sub__input:active,
.sub__input:hover{
	cursor: auto;
	background: rgb(142, 142, 142);
	color: #331922;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
}
.sub__sub {
	background: #D23166;
	border-radius: 5px;
	padding: 16px 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 55px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(23 / 20 * 100%);
	color: #FFFFFF;
	transition: all 0.4s ease 0s;
	min-width: 126px;
}
.sub__sub:hover,
.sub__sub:active{
	background: #fff;
	color: #D23166;
}
.sub__icons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.sub__icons > *:not(:last-child){
	margin: 0 15px 0 0;
}
.sub__icon {

}

@media (max-width: 1023.98px){
	.footer__main {
		flex: 0 1 calc(236 / 1125 * 100%);
	}
	.footer__head {
		flex: 0 1 calc(70 / 1125 *100%);
	}
	.footer__inf {
		flex: 0 1 calc(181/1125*100%);
	}
	.footer__sub {
		flex: 0 1 calc(388/1125*100%);
	}
	.first__logo {
		flex: 0 1 85px;
		height: 85px;
		width: 85px;
		margin:  0 0 10px 0;
	}
	.first__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: calc(17 / 14 * 100%);
		letter-spacing: 0.01em;
		color: #FFFFFF;
		opacity: 0.7;
		margin: 0 0 25px 0 ; 
	}
	.first__title{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: calc(14 / 14 * 100%);
		color: #FFFFFF;
		margin:  0 0 10px 0;
	}
	.head__item {
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: calc(14 / 15 * 100%);
		color: #FFFFFF;
		opacity: 0.7;
	}
	.inf__item {
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: calc(14 / 15 * 100%);
		color: #FFFFFF;
		opacity: 0.8;
	}
	.sub__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		padding: 20px 26px;
		background: transparent;
		height: 55px;
		min-width: 205px;
		cursor: pointer;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: calc(16 / 14 * 100%);
		color: #FFFFFF;
		opacity: 0.6;
		transition: all 0.4s ease 0s;
		border-left: 2px solid #D64374;
		border-bottom: 2px solid #D64374;
		border-top: 2px solid #D64374;
	}

}


@media (max-width: 767.98px){
	.footer {
		padding: 15px 0 40px 0;
		background: #0A0808;
	}
	.footer__container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer__container>*{
		min-width: 100%;
	}
	.first__logo {
		flex: 0 1 70px;
		height: 70px;
		width: 70px;
		margin:  0 0 10px 0;
	}
	.first__text {
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: calc(35 / 22 * 100%);
		letter-spacing: 0.01em;
		color: #FFFFFF;
		opacity: 0.7;
		margin: 0 0 15px 0 ; 
	}
	.first__title{
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: calc(30 / 20 * 100%);
		color: #FFFFFF;
		margin:  0 0 10px 0;
	}
	.head__item {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(25 / 18 * 100%);
		color: #FFFFFF;
		opacity: 0.7;
	}
	.inf__item {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(25 / 18 * 100%);
		color: #FFFFFF;
		opacity: 0.8;
	}
	.sub__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		padding: 20px 26px;
		background: transparent;
		height: 55px;
		min-width: 205px;
		cursor: pointer;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: calc(16 / 14 * 100%);
		color: #FFFFFF;
		opacity: 0.6;
		transition: all 0.4s ease 0s;
		border-left: 2px solid #D64374;
		border-bottom: 2px solid #D64374;
		border-top: 2px solid #D64374;
	}
	.first__icon {
		flex: 0 1 25px;
		height: 25px;
		width: 25px;
	}
	.first__icon img{
		width: 100%;
		height: 25px ;
	}
	.sub__form {
		min-width: 100%;
		flex-direction: column;
	}
	.sub__form>*:not(:first-child){
		margin: 15px 0 0 0; 
	}
	.sub__input {
		height: 55px;
		min-width: 100%;
		cursor: pointer;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(25 / 24 * 100%);
		color: #FFFFFF;
		opacity: 0.6;
		transition: all 0.4s ease 0s;
		border: 2px solid #D64374;
	}
	.sub__sub {
		background: #D23166;
		border-radius: 5px;
		padding: 16px 18px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 55px;
		font-weight: bold;
		font-size: 20px;
		line-height: calc(23 / 20 * 100%);
		color: #FFFFFF;
		transition: all 0.4s ease 0s;
		min-width: 100%;
		text-transform: uppercase;

	}
}

@media (max-width: 424.98px){
	.first__text{
		display: none;
	}
	.footer__sub {
		display: none;
	}
}


